<head>
  <!-- so meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  {{!-- TODO: Add favicons and open_graph --}}

  <!-- title -->
  <title>
    {{#if page.title}}
      {{page.title}}
    {{else}}
      {{config.title}}
    {{/if}}
  </title>

  <!-- styles -->
  {{css 'css/style'}}

  {{!-- TODO: Add RSS --}}
</head>
