// Fonts
$font-family-body = "MesloLGM NF"
$font-family-mono = "MesloLGM NF"
$font-size = 14px
$line-height = 1.725

// Colors
$color-background = #1d1f21
$color-content-background = #060707
$color-link = rgba(212, 128, 170, 1) // vimeo: :selection with alpha=1
$color-text = #c9cacc
$color-light = #cccccc
$color-lightest = #eeeeee
$color-accent = #2bbc8a
$ease-in-sine = cubic-bezier(0.47, 0, 0.745, 0.715)

// Logo
// logo-width = 0px + hexo-config("customize.logo.width")
// logo-height = 0px + hexo-config("customize.logo.height")
logo-width = 0px
logo-height = 0px
